<%= form_with(model: entry, local: true) do |form| %>
  <% if entry.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">
        <%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:
      </h4>
      <% entry.errors.full_messages.each.with_index do |message, index| %>
        <hr />
        <p class="<%= entry.errors.count == (index + 1) ? 'mb-0' : '' %>"><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :date, class: 'form-label' %>
    <%= form.date_field :date, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :amount, class: 'form-label' %>
    <%= form.number_field :amount, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <a href="<%= entry_entry_items_path(@entry) %>" class="btn btn-primary btn-block">
      Manage Debits and Credits
    </a>
  </div>

  <div class="mb-3">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>

<script type="text/javascript">
window.flatpickr("#entry_date", {});
</script>