<p></p>

<h1><%= @entry.name %></h1>

<p class="lead">
  Accounts debited and credited for this transaction.
</p>

<div class="table-responsive mt-5">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Account</th>
        <th>Debit</th>
        <th>Credit</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @entry_items.each do |entry_item| %>
        <tr>
          <td class="align-middle"><%= entry_item.account ? entry_item.account.name : 'N/A' %></td>
          <td class="align-middle text-success"><%= entry_item.debit? ? number_to_currency(entry_item.amount) : '' %></td>
          <td class="align-middle text-danger"><%= entry_item.credit? ? number_to_currency(entry_item.amount) : '' %></td>
          <td class="align-middle"><%= link_to 'Edit', edit_entry_entry_item_path(@entry, entry_item), class: 'btn btn-primary' %></td>
          <td class="align-middle"><%= link_to 'Destroy', entry_entry_item_path(@entry, entry_item), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Debit/Credit', new_entry_entry_item_path(@entry), class: 'btn btn-primary' %>
<%= link_to 'Back to Entry', edit_entry_path(@entry), class: 'btn btn-secondary' %>

