<p></p>

<h1><%= @account.name %></h1>

<h2>Balance: <%= number_to_currency(@account.balance) %></h2>

<p class="lead">
  Summary of all the entries for <%= @account.name %>.
</p>

<div class="table-responsive mt-5">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Debit</th>
        <th>Credit</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @account.entry_items.each do |entry_item| %>
        <tr>
          <td class="align-middle"><%= entry_item.entry.date %></td>
          <td class="align-middle"><%= entry_item.entry.name %></td>
          <td class="align-middle text-success"><%= entry_item.debit? ? number_to_currency(entry_item.amount) : '' %></td>
          <td class="align-middle text-danger"><%= entry_item.credit? ? number_to_currency(entry_item.amount) : '' %></td>
          <td><%= link_to 'Edit', edit_entry_path(entry_item.entry), class: 'btn btn-primary btn-sm' %></td>
          <td><%= link_to 'Destroy', entry_item.entry, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="2"><b>Total</b></td>
        <td class="align-middle text-success"><%= number_to_currency(@account.debit_total) %></td>
        <td class="align-middle text-danger"><%= number_to_currency(@account.credit_total) %></td>
        <td colspan="2"></td>
      </tr>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Entry', new_entry_path, class: 'btn btn-primary mb-3' %>

<br >

<%= link_to 'Edit Account', edit_account_path(@account), class: 'btn btn-primary' %>
<%= link_to 'Back', accounts_path, class: 'btn btn-secondary' %>
